
body{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    background: white;
}


header {
    background-color: #605DF2;
    width: 100%;
    padding: 2px;
}
header h1 {
    color: white;
    text-align: center;
}


.flex-container {
    display: flex;
    justify-content: center;
}


/*
#trains > h3, #searchbar, #result > h3 {
    display: flex;
    justify-content: center;
}

#trains > #result {
    display: flex;
    flex-direction: column;
}

*/


.trains {
    width: 50%;
    padding: 5px;
    
}


.spotify {
    width: 50%;
}


.btn.dropdown-toggle  {
    width:150px;
    text-align:left;
}


span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

label {
    padding-top:5px;
}
.form-label {
    padding-left:0px !important;
}


img {
    width:140px;
    height:140px;
}
img.track {
    border: 1px solid #8a8a8a;
}


#searchbar {
    text-align: center;
    margin-top: 5%;
    display: block;
    font-size: 1rem;
}



#showBtn{
    border: 1px solid #605DF2;
    padding: 1rem 2rem;
    background: #605DF2;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: 0.2s;
}
#showBtn:hover{
    border-color: gray;
    background: gray;
}
#clearBtn{
    border: 1px solid gray;
    padding: 1rem 2rem;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
#clearBtn:hover{
    background: gainsboro;
}

#station{
    padding: 1rem 1rem;
    border: 0;
    background: white;
    border-radius: 5px;
    border: 1px solid gray;
}
#station:hover, #station:focus{
    background-color: aliceblue;
}
#search_station input {
    padding: 1rem;
    border: 5px solid #605DF2;
    width: 50%;
    height: 25px;
    border-radius: 10px;
}
#search_station ::placeholder {
    text-align: center;
}

 
#search_button button {
    margin-top: 2%;
    border: 5px solid #605DF2;
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
}
#search_button button:hover {
    background-color: #605DF2;
    color: white;
    cursor: pointer;
}


#timeTableDeparture {
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #605DF2;
    border-radius: 10px;
}
#timeTableDeparture th {
    font-weight: bold;
    font-size: 120%;
}

#calcTime {
    margin-top: 5%;
    text-align: center;
}

.pagetitle {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}