h1 {
    background-color: aquamarine;
}

#trains > h3, #searchbar, #result > h3 {
    display: flex;
    justify-content: center;
}

#trains > #result {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

#trains {
    width: 50%;
}

table
    {
      border: 1px solid #000000;
      border-collapse: collapse;
      border-spacing: 0px;
    }
    table td
    {
      padding: 8px 8px;
    }