<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Långpendlaren</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
    />
    <link rel="stylesheet" href="./styles/main.css" />
    <script
      src="https://kit.fontawesome.com/f6db73d1df.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="../logic/main/functionality.js" type="module" defer></script>
    <script src="../logic/trafic/trafikverket.js" type="module" defer></script>
    <!--<script src="../logic/spotify/spotify.js" type="text/javascript" defer></script>-->
  </head>

  <body>
    <header>
      <button class="basic_button">reset</button>
      <h1>Långpendlaren</h1>
    </header>

    <section id="main_content">
      <div class="flex-container">
        <div class="trains">
          <h3>Sök avgång</h3>
          <div id="searchbar">
            <div id="station-wraper">
              <input id="station" type="text" placeholder="Ange stad här..." />
              <i id="clearBtn" class="fa-solid fa-xmark"></i>
            </div>
            <input id="showBtn" type="button" value="Visa" onclick="search()" />
            <span id="loader" style="margin-left: 10px">Laddar data ...</span>
          </div>

          <div id="result">
            <h3>Avgående tåg</h3>
            <table id="timeTableDeparture">
              <tr>
                <th scope="col" style="width: 40px">Tid</th>
                <th scope="col" style="width: 200px">Till</th>
                <th scope="col" style="width: 80px"></th>
                <th scope="col" style="width: 80px">Spår</th>
                <!--Train ID-->
                <th scope="col" style="width: 80px">ID</th>
                <th scope="col" style="width: 80px">Välj tåg</th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!--
      <div class="spotify">
        <h3>Spotify sök</h3>
        <form action="">
            <input type="hidden" id='hidden_token'>
            <div class="col-sm-6 form-group row mt-4 px-0">
                <label for="Genre" class="form-label col-sm-2">Genre:</label>
                <select name="" id="select_genre" class="form-control form-control-sm col-sm-10">
                    <option>Select...</option>
                </select>
            </div>
            <div class="col-sm-6 form-group row px-0">
                <label for="Genre" class="form-label col-sm-2">Spellista:</label>
                <select name="" id="select_playlist" class="form-control form-control-sm col-sm-10">
                    <option>Select...</option>
                </select>
            </div>
            <div class="col-sm-6 row form-group px-0">
                <button type="submit" id="btn_submit" class="btn btn-success col-sm-12">Sök</button>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-6 px-0">
                <div class="list-group song-list">

                </div>
            </div>
            <div class="offset-md-1 col-sm-4" id="song-detail">
            </div>
        </div>
      </div>
    </div>

    -->
  </body>
</html>
