<!DOCTYPE html>
<html lang="sv">
   <head>
       <meta charset="utf-8">
       <title>Långpendlaren</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
       <link rel="stylesheet" href="../styles/main.css">
       <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
       <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> 
       <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
   </head>
 
   <body>
           <header>
               <h1>Långpendlaren</h1>
           </header>
 
           <main>
               <div id="searchbar">
                <h3 class="pagetitle">Sök efter station</h3>
                   <div id="search_station">
                       <input id="station" type="text" placeholder="Ange station..." onkeyup="search()"/>
                   </div>

                 <div id="result">
                    <table id="timeTableDeparture">
                      <tr>
                        <th scope="col" style="width:200px;">Station</th>
                        <th scope="col"  style="width:200px;">Välj station</th>
                      </tr>
                      <!--Utskrifter från JSON-->
                    </table>
                  </div>
             </div>

           </main>
 
           <footer>
 
           </footer>

        </body>

           <script>
                // Read file
                function readTextFile(file, callback) {
                var rawFile = new XMLHttpRequest();
                rawFile.overrideMimeType("application/json");
                rawFile.open("GET", file, true);
                rawFile.onreadystatechange = function() {
                    if (rawFile.readyState === 4 && rawFile.status == "200") {
                        callback(rawFile.responseText);
                    }
                }
                rawFile.send(null);
                }
                //Path to file
                readTextFile("/frontend/src/view/cptrafic/data.json", function(information){
                    var data = JSON.parse(information);
                    data.forEach(element => {
                    //Create HTML elements in table
                    jQuery("#timeTableDeparture tr:last").
                    after("<tr><td>" + element.AdvertisedLocationName + "</td>" + "<td id='search_button'> <button type='button'> Välj denna station </button> </td></tr>");
                })
                });

                function search() {
                // Declare variables
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("station");
                filter = input.value.toUpperCase();
                table = document.getElementById("timeTableDeparture");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                    }
                }
                }
            </script>
</div>
 
</html>