<!DOCTYPE html>
<html lang="sv">
   <head>
       <meta charset="utf-8">
       <title>Långpendlaren</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
       <link rel="stylesheet" href="../styles/main.css">
   </head>
 
   <body>
           <header>
               <h1>Långpendlaren</h1>
           </header>
 
           <main>
               <div id="searchbar">
                <h3 class="pagetitle">Sök efter station</h3>
                   <div id="search_station">
                       <input id="station" type="text" placeholder="Ange station..." onkeyup="search(event)"/>
                   </div>

                    <div id="result">
                        <table id="timeTableDeparture">
                          <tr>
                            <th scope="col" style="width:200px;">Station</th>
                            <th scope="col"  style="width:200px;">Välj station</th>
                          </tr>
                          <tr>
                            <!--Utskrifter från JSON-->
                            <td><span id="codes"></span></td>
                            <td id="search_button">
                                <button type="button" value="Sök resa" onclick="">Sök efter avgångar</button>
                            </td>
                          </tr>
                        </table>
                      </div>
                 </div>

                 <table>
                    <thead>
                        <tr>
                            <th>Stad</th>
                            <th>Välj stad</th>
                        </tr>

                        <tr id="for_each">
                            
                        </tr>

                        
                        
                    </thead>

                    <tbody>
                        
                    </tbody>
                 </table>
                 <p id="for_each">Hej</p>
           </main>
 
           <footer>
 
           </footer>


           <script>
                // Read file
                function readTextFile(file, callback) {
                var rawFile = new XMLHttpRequest();
                rawFile.overrideMimeType("application/json");
                rawFile.open("GET", file, true);
                rawFile.onreadystatechange = function() {
                    if (rawFile.readyState === 4 && rawFile.status == "200") {
                        callback(rawFile.responseText);
                    }
                }
                rawFile.send(null);
                }
                //Path to file
                readTextFile("/frontend/src/view/cptrafic/data.json", function(information){
                    var data = JSON.parse(information);
                    var stationList = []
                    data.forEach(element => {
                        stationList.push(element.AdvertisedLocationName)
                        console.log(element.AdvertisedLocationName)
                    console.log(stationList)

                        stationList.forEach(display)

                        function display(item) {
                            document.getElementById('for_each').innerHTML += '<tr>' + '<td>' + item + '</td>' + '</tr>'
                        }
                    
                    return stationList
                })
                });

                




            var stations;
            var jsonData = [
            {
                "AdvertisedLocationName": "Alingsås",
                "LocationSignature": "A"
            },
            {
                "AdvertisedLocationName": "Avesta centrum",
                "LocationSignature": "Acm"
            },
            ];

            function printData(Arr) {
            for(var i=0; i<Arr.length; i++) {
                stations.innerText += `\n${Arr[i].AdvertisedLocationName}`;
            }
            }

            // it is a case insensitive search
            function search(ev) {
            var key = ev.target.value;
            stations.innerText = null;
            
            printData(jsonData.filter((data)=>{
                var regex = new RegExp(key, "i");
                return data.AdvertisedLocationName.match(regex) || data.LocationSignature.match(regex);
            }));
            }

            window.onload = function() {
            stations = document.getElementById("codes");
            printData(jsonData);

            
            }
        </script>
 
   </body>
</div>
 
</html>