<!DOCTYPE html>
<html lang="sv">
   <head>
       <meta charset="utf-8">
       <title>Långpendlaren</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="icon" type="image/x-icon" href="g">
       <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
       <link rel="stylesheet" href="../styles/main.css">
       <link rel="stylesheet" type="text/css" href="/frontend/src/view/styles/main.css">
       <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
       <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> 
       <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
   </head>
 
   <body>
           <header>
               <h1>Långpendlaren</h1>
           </header>
 
           <main>
            <div id="result">
                <h3 class="pagetitle">Avgående tåg</h3>
                <table id="timeTableDeparture">
                  <tr>
                    <th scope="col" style="width:40px;">Tid</th>
                    <th scope="col" style="width:200px;">Till</th>
                    <th scope="col"  style="width:80px;">Spår</th>
                    <!--Train ID-->
                    <th scope="col"  style="width:80px;">ID</th>
                    <th scope="col"  style="width:80px;">Välj tåg</th>
                  </tr>
                  <!--Utskrifter från JSON-->
                </table>
              </div>
            </div>
              
           </main>
 
           <footer>
 
           </footer>
 
   </body>
</div>
 
</html>

      <script>
        // Read file
        function readTextFile(file, callback) {
        var rawFile = new XMLHttpRequest();
        rawFile.overrideMimeType("application/json");
        rawFile.open("GET", file, true);
        rawFile.onreadystatechange = function() {
            if (rawFile.readyState === 4 && rawFile.status == "200") {
                callback(rawFile.responseText);
            }
        }
        rawFile.send(null);
        }
        //Path to file
        readTextFile("/frontend/src/view/cptrafic/trains.json", function(information){
            var data = JSON.parse(information);
            data.forEach(element => {
              var advertisedtime = new Date(element.AdvertisedTimeAtLocation);
              var hours = advertisedtime.getHours()
              var minutes = advertisedtime.getMinutes()
              if (minutes < 10) minutes = "0" + minutes
              if (hours < 10) hours = "0" + hours  
              console.log(data)
            //Create HTML elements in table
            jQuery("#timeTableDeparture tr:last").
            after("<tr><td>" + hours + ":" + minutes + "<td>" + element.ToLocation.LocationName + "</td>" + "<td>" + element.TrackAtLocation + "</td>" + 
            "<td>" + element.AdvertisedTrainIdent + "</td>" + "<td id='search_button'> <button type='button'>Välj tåg</button> </td></tr>");
          })})
      </script>