<!DOCTYPE html>
<html lang="sv">
   <head>
       <meta charset="utf-8">
       <title>Långpendlaren</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="icon" type="image/x-icon" href="g">
       <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
       <link rel="stylesheet" href="../styles/main.css">
       <link rel="stylesheet" type="text/css" href="/frontend/src/view/styles/main.css">
   </head>
 
   <body>
           <header>
               <h1>Långpendlaren</h1>
           </header>
 
           <main>
            <div id="result">
                <h3 class="pagetitle">Avgående tåg</h3>
                <table id="timeTableDeparture">
                  <tr>
                    <th scope="col" style="width:40px;">Tid</th>
                    <th scope="col" style="width:200px;">Till</th>
                    <th scope="col" style="width:80px;"></th>
                    <th scope="col"  style="width:80px;">Spår</th>
                    <!--Train ID-->
                    <th scope="col"  style="width:80px;">ID</th>
                    <th scope="col"  style="width:80px;">Välj tåg</th>
                  </tr>
                </table>
              </div>
            </div>
              
           </main>
 
           <footer>
 
           </footer>
 
   </body>
</div>
 
</html>